@import 'app/styles/vars';
.Table {
    table {
        width: 100%;
        border-collapse: collapse;

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    }

    .noResultsMessage {
        display: flex;
        flex-direction: column;
        font-size: $fontSizeL;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 600px;
        background-color: $disabledColor;

        p {
            margin: 10px;
        }
    }
}